nav{
    border: 1px solid red;
    display: flex;
    padding:0px 20px 0px 20px;
    /* width: 80%; */
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #443b3b;
}

 /* #logo{
    border: 1px solid black;
} */

menu{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

menu>a{
    border: 1px solid black;
    margin-right: 20px;
    border: none;
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: 700;
}

#nav_btn{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius:5px;
    height: 40px;
}

main{
    /* border: 2px solid black; */
    /* width: 80%; */
    margin: auto;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0px 20px;
}
#left{
    margin-left: 50px;
}
#right{
    margin-right: 50px;
}

#left>img{
    width: 300px;
    margin-top: 20px;
}
#left>p:first-of-type{
    color: blue;
    font-size: 20px;
}
#left>span{
    color: blue;
    font-size: 40px;
    font-weight: 700;
}
#left>p:last-of-type{
    width: 455px;
    margin-top: 30px;
}
#right>video{
    width: 450px;
   
}


/* for small screen */
@media  (max-width:480px){
    
    nav{
        width: 100%;
        background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjDVsFh9SsVoB9qFjdr99m6QvMyKnsNh4WKQ&usqp=CAU);
        background-position: 98%;
        background-size: 35px;
        background-repeat: no-repeat;
        /* display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between; */
        
    }
    nav>menu{
        display: none;
        
    }
    nav>button{
        display: none;
    }
    main{
        display: block;
    }
    


    
}


  

